<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Success!</h1>
<p th:text="'Name:' + ${userProfile.name}" />
<p th:text="'Country:' + ${userProfile.country}" />
<p th:text="'MaxResult:' + ${userProfile.maxResult}" />
<a href="/signIn">Top</a>
<a href="" onclick="document.delete.submit(); return false;">Delete</a>
<form name="delete" action="#" th:action="@{/delete}" th:object="${userProfile}" method="post">
    <input type="hidden" th:field="*{name}">
    <input type="hidden" th:field="*{id}">
</form>
</body>
</html>