<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Sign up</h1>
<form action="#" method="post" th:action="@{/signUp}" th:object="${userProfile}">
    <p>slack id: <input required="required" th:field="*{name}" type="text"/></p>
    <p>password(6-20 alphabets or numbers):
        <input maxlength="20" minlength="6" pattern="[a-zA-Z0-9]+" required="required" th:field="*{password}"
               type="password">
    </p>
    <p>How much famous youtube videos every day you want to know?[1-50]:
        <input max=50 min=1 required="required" th:field="*{maxResult}" type="number"/>
    </p>
    <p>
        country: <select name="country">
        <option th:each="country : ${countries}"
                th:text="${country.country}" th:value="${country.country}">
        </option>
    </select>
    </p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>